<form (ngSubmit)="onSubmit(productForm)" #productForm="ngForm">
  <div>
    <label for="name">Name:</label>
    <input
      class="form-control my-2"
      type="text"
      id="name"
      name="name"
      [(ngModel)]="product.name"
      #name="ngModel"
      required
    />
    <div *ngIf="name.invalid && (name.dirty || name.touched)">
      <div>
        <small class="text-danger">Name is required.</small>
      </div>
    </div>
  </div>
  <div>
    <label for="description">Description:</label>
    <input
      class="form-control my-2"
      type="text"
      id="description"
      name="description"
      [(ngModel)]="product.description"
      #description="ngModel"
      required
    />
    <div
      *ngIf="description.invalid && (description.dirty || description.touched)"
    >
      <div>
        <small class="text-danger">Description is required.</small>
      </div>
    </div>
  </div>
  <div>
    <label for="price">Price:</label>
    <input
      class="form-control my-2"
      type="number"
      id="price"
      name="price"
      [(ngModel)]="product.price"
      #price="ngModel"
      required
    />
    <div *ngIf="price.invalid && (price.dirty || price.touched)">
      <div>
        <small class="text-danger">Price is required.</small>
      </div>
    </div>
  </div>
  <br />
  <div>
    <button
      class="btn btn-sm btn-primary m-1"
      type="submit"
      [disabled]="!productForm.form.valid"
    >
      <!-- [disabled]="!product.name || !product.description || !product.price" -->
      {{ product.id > 0 ? "Update" : "Create" }}
    </button>
    <button
      class="btn btn-sm btn-success m-1"
      (click)="clean(productForm)"
      type="button"
      [disabled]="!product.name && !product.description && !product.price"
    >
      Clean
    </button>
  </div>
</form>
