<form (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input
      class="form-control my-2"
      type="text"
      id="name"
      name="name"
      [(ngModel)]="product.name"
      required
    />
  </div>
  <div>
    <label for="description">Description:</label>
    <input
      class="form-control my-2"
      type="text"
      id="description"
      name="description"
      [(ngModel)]="product.description"
    />
  </div>
  <div>
    <label for="price">Price:</label>
    <input
      class="form-control my-2"
      type="number"
      id="price"
      name="price"
      [(ngModel)]="product.price"
      required
    />
  </div>
  <br />
  <button class="btn btn-sm btn-primary" type="submit">
    {{ product.id > 0 ? "Update" : "Create" }}
  </button>
</form>
