<product-app-form (newproductEvent)="addProduct($event)"></product-app-form>

@if (products.length>0) {
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    @for (product of products; track $index) {
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
    </tr>
    }
  </tbody>
</table>
} @else {
<div>
  <p>No products available.</p>
  <p>Please check back later.</p>
</div>
}
