<product-app-form
  (newproductEvent)="addProduct($event)"
  [product]="productSelected"
></product-app-form>

@if (products.length>0) {
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    @for (product of products; track $index) {
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>
        <button (click)="onUpdateProduct(product)">Update</button>
      </td>
      <td>
        <button (click)="onDeleteProduct(product.id)">Delete</button>
      </td>
    </tr>

    }
  </tbody>
</table>
} @else {
<div>
  <p>No products available.</p>
  <p>Please check back later.</p>
</div>
}
